  {% load staticfiles %}<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} {{ title }} {% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    
    <script src="{%  static 'gis/assets/js/jquery.js' %} "></script>
    <script src="{%  static 'gis/assets/js/jquery-ui.js' %} "></script>
    
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- virvo provider -->
    <link href="{% static 'virvo/data/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'virvo/state_content.css' %}" type="text/css" rel="stylesheet"/>

    
    
    <script src="{% static 'virvo/virvo_app.js' %}"></script>

    <!-- zTree -->
    <link rel="stylesheet" href="{% static 'zTree/css/demo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'zTree/css/zTreeStyle/zTreeStyle.css' %}" type="text/css">
  
    <script type="text/javascript" src="{% static 'zTree/js/jquery.ztree.core.js' %}"></script>


    <!-- hplus -->
    <link rel="stylesheet" type="text/css" href="{% static 'hplus/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hplus/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hplus/css/plugins/sweetalert/sweetalert.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hplus/css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hplus/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hplus/smartMenu.css' %}">
    
    <!-- <script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->


    

    
    <!-- hplus -->
    <script src="{% static 'hplus/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'hplus/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'hplus/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'hplus/js/plugins/layer/layer.min.js' %}"></script>
    <script src="{% static 'hplus/js/hplus.js' %}"></script>
    <script src="{% static 'hplus/contabs.js' %}"></script>

    <script src="{% static 'hplus/jquery-smartMenu.js' %}"></script>
    <script src="{% static 'hplus/hplus-tab.js' %}"></script>
    <script src="{% static 'hplus/context.js' %}"></script>
    <script src="{% static 'hplus/hplus-tab.js' %}"></script>
    <script src="{% static 'hplus/contabs.js' %}"></script>
    <script src="{% static 'hplus/js/plugins/pace/pace.min.js' %}"></script>


    
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
      {% block breadcrumbs %}<a href="{% url 'dma:virvo_home' %}"><span class="fa fa-home" style="margin-left: 5px;margin-right: 10px;"></span>&nbsp;&nbsp;首页&nbsp;&nbsp;</a> / 数据分析/日用水分析 {% endblock %}
        <div class="row animated fadeInDown">
            <div class="col-sm-3">
                {% include 'stationtree.html' %}
                
            </div>
            <div class="col-sm-9">
                <div  class="ax_default " style="margin-left: 10px;">

  <div class="query_div">
    <h2>查询条件</h2>
    <p>所属组织:{{ station.belongto.name }}</p>
    <p>站点名称:{{ station.station_name }}</p>
    <p><input type="checkbox" id="checkbox1" name="compare_date" >多日期对比分析</p>
    <p><button>昨天</button></p>
    <p><button>三天内</button></p>
    <p><button>七天内</button></p>
    <p><button>查询</button></p>
    
  </div>
  <div id="autoUpdate" class="autoUpdate" style="height: 100px;display: none;">
  content
  </div>

  <div class="list-group" role="tab" id="heading">
      <div >
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1" class="list-group-item active " style="text-align:left;background-color: rgba(255, 255, 255, 1);border-color:rgba(255, 255, 255, 1);color: black;">
           图形分析<span class="fa fa-angle-down pull-right"></span>
        </a>
      </div>
      
      <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading">
        
        <div >
          <div id="chart_station" style="width: 1200px;height:555px;"></div>
          
        </div>
        <div class="stastic">
          <p>当天用水量: 186 m³ </p>
          <p>昨日用水量: 206.3 </p>
          <p>前日用水量: 206 </p>
          <p>最大值: 68 m³   （11：00）</p>
          <p>最小值: 21 m³   （04：00）</p>
          <p>平均值: 46 m³   （11：00）</p>
        </div>
      </div>


      
      
  </div>



    

</div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    $(function(){
    load_Tree('daily');
  });

  $(document).ready(function(){
    $('#checkbox1').change(function(){
      if($(this).is(":checked") == true)
        $('#autoUpdate').show();
      else
        $('#autoUpdate').hide();

    });
  });


  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('chart_station'));

  // 使用刚指定的配置项和数据显示图表。
  var opts = {{ options|safe }};
  option = eval(opts);
  console.log(option);
  myChart.setOption(option);

  

  window.onresize = function () {
      myChart.resize();      
  };
</script>
</body>
</html>