{% extends 'dma/home.html' %}




{% block stylesheet %}
{{ block.super }}
<style type="text/css">


.map {
  height: 390px;
  border: 1px solid black;
}

.col1 {
  width: 100px;
}

.col5 {
  width: 350px;
}

.btn_dma {
  width: 98px;
  background-color: rgba(22, 155, 213, 1);
  font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 20px;

    
}


.ibox.collapsed .fa.fa-angle-up:before {
  content: "\f104"
}

.ibox.collapsed .fa.fa-angle-down:before {
  content: "\f105"
}

.fa.fa-angle-down:before {
    content: "\f107";
}

.active > a > .fa.fa-angle-down:before {
    content: "\f105";
}

</style>
  
{% endblock %}

{% block breadcrumbs %} / 基础管理/dma管理{% endblock %}


{% block main_content %}
  <div class="row ">
      <div class="col-sm-2" style="margin-right: -10px;">
          {% include 'dmatree.html' %}
      </div>    


      <div id="new-form-modal" class="modal fade">
        <div class="modal-dialog" style="width: 728px;height: 299px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">新建DMA分区</h4>
                </div>
                <div id="form-modal-body" class="modal-body">
                    <form id="dma-form" method="POST" class="form-horizontal">
                      {% csrf_token %}

                      <div class="row">
                        <div class="form-group col-sm-6"  >
                            <label class="col-sm-4 control-label" >{{ dma_form.dma_no.label }}：</label>

                            <div class="col-sm-6" >
                                <input type="text"  id="id_dma_no" name="dma_no"  class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-4 control-label">{{ dma_form.dma_name.label }}：</label>

                            <div class="col-sm-6">
                                <input type="text"  id="id_dma_name" name="dma_name"  class="form-control" required>
                            </div>
                        </div>
                        
                      </div>

                      <div class="row">
                        <div class="form-group col-sm-6"  >
                            <label class="col-sm-4 control-label" >{{ dma_form.creator.label }}：</label>

                            <div class="col-sm-6" >
                                <input type="text"  id="id_creator" name="creator"  class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-4 control-label">{{ dma_form.create_date.label }}：</label>

                            <div class="col-sm-6">
                                <input type="text"  id="id_crate_date" name="create_date"  class="form-control" required>
                            </div>
                        </div>
                        
                      </div>

                      <div class="row">
                        <div class="form-group col-sm-6"  >
                            
                        </div>
                        <div class="form-group col-sm-6">
                            <div class="col-sm-offset-6">
                            <button class=" btn_form1" type="submit">保存</button>
                            <button class=" btn_form2" type="submit">取消</button>
                        </div>
                        </div>
                        
                      </div>
                      
                    
                    </form>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal --> 
    

      <div class="col-sm-10" style="margin-left: -10px;">
        <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>横向表单</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal">
                            <p>欢迎登录本站(⊙o⊙)</p>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户名：</label>

                                <div class="col-sm-8">
                                    <input type="email" placeholder="用户名" class="form-control"> <span class="help-block m-b-none">请输入您注册时所填的E-mail</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">密码：</label>

                                <div class="col-sm-8">
                                    <input type="password" placeholder="密码" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <button class="btn btn-sm btn-white" type="submit">登 录</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

          <div class="ibox float-e-margins">
              <div class="ibox-title modal_head">
                  <h5>基本信息 </h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                      
                  </div>
              </div>
              <div class="ibox-content">
                <form class="form-horizontal">
                  <div class="row">
                    <div class="form-group col-sm-4"  >
                        <label class="col-sm-5 control-label" >{{ form.dma_no.label }}：</label>

                        <div class="col-sm-5" >
                            <input type="text"  id="id_dma_no" name="dma_no" value="{{ form.dma_no.value|default:''  }}" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-6 control-label">{{ form.pipe_texture.label }}：</label>

                        <div class="col-sm-5">
                            <input type="text"  id="id_pipe_texture" name="pipe_texture" value="{{ form.pipe_texture.value|default:''  }}" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">{{ form.ifc.label }}：</label>

                        <div class="col-sm-5">
                            <input type="text"  id="id_ifc" name="ifc" value="{{ form.ifc.value|default:''  }}" class="form-control" >
                        </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-4"  >
                        <label class="col-sm-5 control-label" >{{ form.orgs.label }}：</label>

                        <div class="col-sm-5" >
                            <select name="orgs" class="form-control m-b"  id="id_orgs">
                              {% for org in form.orgs.field.queryset %}
                              <option value="{{ org.id }}" selected>{{ org.name }}</option>
                              {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-6 control-label">{{ form.pipe_length.label }}：</label>

                        <div class="col-sm-5">
                            <input type="text"  id="id_pipe_length" name="pipe_length" value="{{ form.pipe_length.value|default:''  }}" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">{{ form.aznp.label }}：</label>

                        <div class="col-sm-5">
                            <input type="text"  id="id_aznp" name="aznp" value="{{ form.aznp.value|default:''  }}" class="form-control" >
                        </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">{{ form.pepoles_num.label }}：</label>

                        <div class="col-sm-5">
                            <input type="text"  id="id_pepoles_num" name="pepoles_num" value="{{ form.pepoles_num.value|default:''  }}" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group col-sm-4"  >
                        <label class="col-sm-6 control-label" >{{ form.pipe_links.label }}：</label>

                        <div class="col-sm-5" >
                            <input type="text"  id="id_pipe_links" name="pipe_links" value="{{ form.pipe_links.value|default:''  }}" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">{{ form.night_use.label }}：</label>

                        <div class="col-sm-5">
                            <input type="text"  id="id_night_use" name="night_use" value="{{ form.night_use.value|default:''  }}" class="form-control" >
                        </div>
                    </div>
                    
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">{{ form.acreage.label }}：</label>

                        <div class="col-sm-5">
                            <input type="text"  id="id_acreage" name="acreage" value="{{ form.acreage.value|default:''  }}" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group col-sm-4"  >
                        <label class="col-sm-6 control-label" >{{ form.pipe_years.label }}：</label>

                        <div class="col-sm-5" >
                            <input type="text"  id="id_pipe_years" name="pipe_years" value="{{ form.pipe_years.value|default:''  }}" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group col-sm-4"  >
                        <label class="col-sm-5 control-label" >{{ form.cxc_value.label }}：</label>

                        <div class="col-sm-5" >
                            <input type="text"  id="id_cxc_value" name="cxc_value" value="{{ form.cxc_value.value|default:''  }}" class="form-control" required>
                        </div>
                    </div>
                    
                  </div>

                  <div class="row">
                    <div class="form-group col-sm-4">
                        <label class="col-sm-5 control-label">{{ form.user_num.label }}：</label>

                        <div class="col-sm-5">
                            <input type="text"  id="id_user_num" name="user_num" value="{{ form.user_num.value|default:''  }}" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label class="col-sm-6 control-label">{{ form.pipe_private.label }}：</label>

                        <div class="col-sm-5">
                            <input type="text"  id="id_pipe_private" name="pipe_private" value="{{ form.pipe_private.value|default:''  }}" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <div class="col-sm-offset-5">
                            <button class=" btn_form1" type="submit">修改</button>
                            <button class=" btn_form1" type="submit">提交</button>
                            <button class=" btn_form2" type="submit">恢复</button>
                        </div>
                    </div>
                    
                  </div>
              </form>
                  
                  
              </div>
          </div>

          <div class="ibox float-e-margins">
              <div class="ibox-title modal_head">
                  <h5>站点配置 </h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                      
                  </div>
              </div>
              <div class="ibox-content">
                  <div>
                    <table id="tb_dma_stations" class="table table-bordered">
                      <thead>
                        <tr>
                          <th >序号</th>
                          
                          <th >站点名称</th>
                          <th >类型</th>
                          <th >表具类型</th>
                          <th >表具编号</th>
                          
                          <th >口径</th>
                          <th >所属组织</th>
                          
                          <th >安装日期</th>
                          
                          
                        </tr>
        
                      </thead>
                     {% for obj in station_list %}
                        <tr>
                          <td>{{ obj.id }} </td>
                          <td>{{ obj.station_name }} </td>
                          <td>{{ obj.meter_property }} </td>
                          <td>{{ obj.meter_type }} </td>
                          <td>{{ obj.meter_code }} </td>
                          
                          <td>{{ obj.caliber }} </td>
                          <td>{{ obj.belongto }} </td>
                          
                          <td>{{ obj.installed }} </td>
                          
                          
                        </tr>
                        
                     {% endfor %}
                   </table>
                  </div>
              </div>
          </div>
      
          <div class="ibox float-e-margins">
              <div class="ibox-title modal_head">
                  <h5>区域图形配置 </h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-angle-down"></i>
                      </a>
                      
                  </div>
              </div>
              <div class="ibox-content">
                <div class="row">
                  <div class="col-sm-1 col1"></div>
                  <div class="col-sm-5 col5" style="margin-left: 20px;"><label>图形预览</label></div>
                  <div class="col-sm-1 col1"></div>
                  <div class="col-sm-5 col5" style="margin-left: 20px;"><label>区域统计信息</label></div>
                </div>
                <div class="row" style="margin-top: 5px;">
                  <div class="col-sm-1 col1" >
                      <div ><button class="btn_dma" id="draw_zone">绘制区域</button></div>
                      <div ><button class="btn_dma">蒙层颜色</button></div>
                      <div ><button class="btn_dma">边框颜色</button></div>
                  </div>
                  <div class="col-sm-5 col5" style="margin-left: 20px;">
                    <div id="js-map" class="map"></div>
                  </div>
                  <div class="col-sm-1 col1" style="width: 100px;">
                    <div style="margin-top: 47px;"><button id="statistic" class="btn_dma">统计</button></div>
                  </div>
                  <div class="col-sm-5 col5" style="margin-left: 20px;">
                    <table id="tb_zone_static" class="table table-bordered" style="height: 400px;text-align: center;">
                      <thead >
                        <tr >
                          <th style="width: 150px;text-align: center;">名称</th>
                          <th style="text-align: center;">结果</th>
                          
                        </tr>
        
                      </thead>
                     
                      <tr>
                        <td>管线长度（m）</td>
                        <td id="res_pipe_length"> </td>
                        
                      </tr>
                      <tr>
                        <td>水表井（个）</td>
                        <td id="res_meter_num"> </td>
                        
                      </tr>
                      <tr>
                        <td>阀门井（个）</td>
                        <td id="res_valv"> </td>
                        
                      </tr>
                      <tr>
                        <td>消防栓（个）</td>
                        <td id="res_well"> </td>
                        
                      </tr>
                      <tr>
                        <td>阀门（个）</td>
                        <td id="res_valv"> </td>
                        
                      </tr>
                      <tr>
                        <td>接头（个）</td>
                        <td id="res_joint"> </td>
                        
                      </tr>
                        
                     
                   </table>
                  </div>
                </div>

                  
              </div>
          </div>
      </div> 
  </div>
  {% endblock %}









   {% block javascript %}
   {{ block.super }}
    <script type="text/javascript">


    $(function(){
      load_dmaTree('');
    });


        $("#tb_stations").on('click', '.btnDelete', function () {
            $(this).closest('tr').remove();
        });

      
            
    $('.alter-button').click(function() {
        var $newformmodal = $("#new-form-modal");

        $newformmodal.modal();
        
        
    });

    $('#statistic').click(function() {

       var table = document.getElementById('tb_zone_static');
       table.rows[1].cells[1].innerHTML = 2018.05;
       table.rows[2].cells[1].innerHTML = 12;
       table.rows[3].cells[1].innerHTML = 22;
       table.rows[4].cells[1].innerHTML = 7;
       table.rows[5].cells[1].innerHTML = 5;
       table.rows[6].cells[1].innerHTML = 20;
      
        
        
    });

    $('#dma-form').submit(function(e){
      e.preventDefault();
      var nendpoint = "{% url 'dma:create_dma' %}";
console.log($(this).serialize());
      $.ajax({
        method:'POST',
        data:$(this).serialize(),
        url:nendpoint,
        success:function(data){
          // console.log(data);
          $('.new-form-error').html('success save');
          window.location=data.url
        },
        error:function (data) {
          // console.log(data);
          $('.new-form-error').html('error save');
        }
      })
    })


    //map
    var appLayer = function (options) {
      var layer = new ol.layer.Tile({
       extent: ol.proj.transformExtent(options.mapExtent, options.fromProject, options.toProject),
       source: new ol.source.XYZ({
            urls: options.urls,
            tilePixelRatio: options.tilePixelRatio,
            minZoom: options.mapMinZoom,
            maxZoom: options.mapMaxZoom
            })
       });
       return layer;
    }

    var normal_background = new appLayer({
        urls: ['http://t0.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}',
                'http://t1.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}',
                'http://t2.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}',
                'http://t3.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}',
                'http://t4.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}',
                'http://t5.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}',
                'http://t6.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}',
                'http://t7.tianditu.com/DataServer?T=vec_w&x={x}&y={y}&l={z}'],
        mapExtent: [-2.0037508342787E7, -2.0037508342787E7, 2.0037508342787E7, 2.0037508342787E7],
        tilePixelRatio: 1,
        fromProject: "EPSG:102100",
        toProject: "EPSG:3857"
    })

    var normal_data = new appLayer({
        urls: ['http://t0.tianditu.com/DataServer?T=cva_w&x={x}&y={y}&l={z}',
                'http://t1.tianditu.com/DataServer?T=cva_w&x={x}&y={y}&l={z}',
                'http://t2.tianditu.com/DataServer?T=cva_w&x={x}&y={y}&l={z}',
                'http://t3.tianditu.com/DataServer?T=cva_w&x={x}&y={y}&l={z}',
                'http://t4.tianditu.com/DataServer?T=cva_w&x={x}&y={y}&l={z}',
                'http://t5.tianditu.com/DataServer?T=cva_w&x={x}&y={y}&l={z}',
                'http://t6.tianditu.com/DataServer?T=cva_w&x={x}&y={y}&l={z}',
                'http://t7.tianditu.com/DataServer?T=cva_w&x={x}&y={y}&l={z}'],
        mapExtent: [-2.0037508342787E7, -2.0037508342787E7, 2.0037508342787E7, 2.0037508342787E7],
        tilePixelRatio: 1,
        fromProject: "EPSG:102100",
        toProject: "EPSG:3857"
    })

    

    var latitude = 114.3524087439;//22.6942072709,114.3524087439
    var longitude = 22.6942072709;

    var center = [latitude,longitude];

     

    




var map = new ol.Map({
        // interactions: ol.interaction.defaults().extend([select, modify]),
        view: new ol.View({
            center:  new ol.proj.transform(center,"EPSG:4326","EPSG:3857"),
            maxZoom : 23,
            minZoom : 13,
            zoom: 4
        }),
        // controls: ol.control.defaults({ attribution: false }).extend([attribution]),
        target:"js-map",
        layers :[normal_background,normal_data]
    });

var overlayStyle = (function() {
  var styles = {};
  styles['Polygon'] = [
    new ol.style.Style({
      fill: new ol.style.Fill({
        color: [255, 255, 255, 0.5]
      })
    }),
    new ol.style.Style({
      stroke: new ol.style.Stroke({
        color: [255, 255, 255, 1],
        width: 5
      })
    }),
    new ol.style.Style({
      stroke: new ol.style.Stroke({
        color: [0, 153, 255, 1],
        width: 3
      })
    })
  ];
  styles['MultiPolygon'] = styles['Polygon'];

  styles['LineString'] = [
    new ol.style.Style({
      stroke: new ol.style.Stroke({
        color: [255, 255, 255, 1],
        width: 5
      })
    }),
    new ol.style.Style({
      stroke: new ol.style.Stroke({
        color: [0, 153, 255, 1],
        width: 3
      })
    })
  ];
  styles['MultiLineString'] = styles['LineString'];

  styles['Point'] = [
    new ol.style.Style({
      image: new ol.style.Circle({
        radius: 7,
        fill: new ol.style.Fill({
          color: [0, 153, 255, 1]
        }),
        stroke: new ol.style.Stroke({
          color: [255, 255, 255, 0.75],
          width: 1.5
        })
      }),
      zIndex: 100000
    })
  ];
  styles['MultiPoint'] = styles['Point'];

  styles['GeometryCollection'] = styles['Polygon'].concat(styles['Point']);

  return function(feature, resolution) {
    return styles[feature.getGeometry().getType()];
  };
})();

var select = new ol.interaction.Select({
  style: overlayStyle
});

var modify = new ol.interaction.Modify({
  features: select.getFeatures(),
  style: overlayStyle
});

map.addInteraction(select);
map.addInteraction(modify);

var features = new ol.Collection();
var featureOverlay = new ol.layer.Vector({
  source: new ol.source.Vector({features: features}),
  style: new ol.style.Style({
    fill: new ol.style.Fill({
      color: 'rgba(255, 255, 255, 0.2)'
    }),
    stroke: new ol.style.Stroke({
      color: '3d32ff',
      width: 2
    }),
    image: new ol.style.Circle({
      radius: 7,
      fill: new ol.style.Fill({
        color: '#ffcc33'
      })
    })
  })
});
featureOverlay.setMap(map);

// var modify = new ol.interaction.Modify({
//   features: features,
//   // the SHIFT key must be pressed to delete vertices, so
//   // that new vertices can be drawn at the same position
//   // of existing vertices
//   deleteCondition: function(event) {
//     return ol.events.condition.shiftKeyOnly(event) &&
//         ol.events.condition.singleClick(event);
//   }
// });
// map.addInteraction(modify);

var draw; // global so we can remove it later
function addInteraction() {
  draw = new ol.interaction.Draw({
    features: features,
    type: /** @type {ol.geom.GeometryType} */ ('Polygon')
  });
  map.addInteraction(draw);
  draw.on('drawend', onFinishSelection);

}

var typeSelect = $('#draw_zone');
typeSelect.on('click', function(e) {
  map.removeInteraction(draw);
  addInteraction();
});


// select.on('drawend', onFinishSelection);

//Setup drawend event handle function
function onFinishSelection(evt) {
   //Call to double click zoom control function to deactivate zoom event
   console.log('onFinishSelection');
   draw.setActive(false);
   // controlDoubleClickZoom(false);
  //Delay execution of activation of double click zoom function
   // setTimeout(function(){controlDoubleClickZoom(true);},251); 
}

//Control active state of double click zoom interaction
function controlDoubleClickZoom(active){
    //Find double click interaction
    var interactions = map.getInteractions();
    for (var i = 0; i < interactions.getLength(); i++) {
        var interaction = interactions.item(i);                          
        if (interaction instanceof ol.interaction.DoubleClickZoom) {
            interaction.setActive(active);
        }
    }
}

/**
 * Let user change the geometry type.
 * @param {Event} e Change event.
 */

// addInteraction();


    
    
    // var drawControl;
    // var geometryType = 'Polygon';

    // var updateDrawControl = function() {
    //     // var geometryType = 'Polygon';

    //     map.removeInteraction(drawControl);

    //     if (geometryType === 'None') return;

    //     drawControl = new ol.interaction.Draw({
    //         type: geometryType,
    //         source: window['vector'].getSource()
    //     });

    //     map.addInteraction(drawControl);

    //     drawControl.on("drawend",function(e){
    //        var writer = new ol.format.GeoJSON();
    //        //pass the feature as an array
    //        var geojsonStr = writer.writeFeatures([e.feature]);
    //        alert(geojsonStr)

    //        map.addLayer(new ol.layer.Vector({
    //         editable: true,
    //         source: new ol.source.Vector({
    //             // url: '/gis/features.geojson',
    //             features:geojsonStr,
    //             format: new ol.format.GeoJSON({defaultDataProjection: 'EPSG:3857'})
    //         })
    //       }))

    //        var select = new ol.interaction.Select({
    //             filter: function(feature, layer) {
    //                 return layer.get('editable') &&
    //                     /Polygon|LineString/.test(
    //                         feature.getGeometry().getType()
    //                     );
    //             },
    //             condition: ol.events.condition.click
    //         });
    //         map.addInteraction(select);

    //         map.addInteraction(new ol.interaction.Modify({
    //             features: select.getFeatures()
    //         }));

    //         map.addInteraction(new ol.interaction.Translate({
    //             features: select.getFeatures()
    //         }));
    //     });
    //     geometryType='None';
    // };

    
    
    
        
    </script>
{% endblock %}