
  <div class="context_notree">
    
    <div >
        <div class="panel panel-default">
          
          <div class="panel-body">
            <div class="col-md-3">
                <div class="well dash-box">
                    <h2 style="text-align:center;">昨日用水量</h2>
                    <h3 style="text-align:center;">21908.9m3</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well dash-box">
                    <h2 style="text-align:center;">今日用水量</h2>
                    <h3 style="text-align:center;">12823.6m3</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well dash-box">
                    <h2 style="text-align:center;">本月用水量</h2>
                    <h3 style="text-align:center;">122823.6m3</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well dash-box">
                    <h2 style="text-align:center;">用水性质</h2>
                    <h3 style="text-align:center;">（本月）</h3>
                </div>
            </div>
            
          </div>

          <div class="panel-body">
            <div class="col-md-3">
                <div class="well dash-box">
                    <h2 style="text-align:center;">DMA总数量</h2>
                    <h3 style="text-align:center;">6个</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well dash-box">
                    <h2 style="text-align:center;">表具总数量</h2>
                    <h3 style="text-align:center;">28个</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well dash-box">
                    <h2 style="text-align:center;">大用户数量</h2>
                    <h3 style="text-align:center;">12个</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well dash-box">
                    <h2 style="text-align:center;">报警表具总数量</h2>
                    <h3 style="text-align:center;">5个</h3>
                </div>
            </div>
            
          </div>

        </div>
        

        
    </div>

    <div class="col-md-6">
        <div class="well dash-box" style="height:  300px;">
            <div style="text-align:center;position:absolute;">
                <p><span>行业新闻</span></p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="well dash-box" style="height:  300px;">
            <h2 style="text-align:center;">平台公告</h2>
            
        </div>
    </div>

</div>        




