{% extends 'dma/home.html' %}

{% block stylesheet %}
{{ block.super }}
  <style type="text/css">

  
  </style>
{% endblock %}


{% block breadcrumbs %} / 数据分析/夜间最小流量{% endblock %}


{% block main_content %}
  <div class="row ">
      <div class="col-sm-2" style="margin-right: -10px;">
          {% include 'stationtree.html' %}
      </div>    
    

      <div class="col-sm-10" style="margin-left: -10px;">
          <div class="ibox float-e-margins">
              <div class="ibox-title modal_head collapse-link">
                  <h5>查询条件 </h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-angle-down"></i>
                      </a>
                      
                  </div>
              </div>
              <div class="ibox-content">
                  <div class="row m-b-sm m-t-sm">
                      <div class="col-md-1">
                          <label>所属组织:</label>
                      </div>
                      <div class="col-md-2">
                          <div class="input-group">
                              <input type="text" placeholder="{{ station.belongto.name }}" class="input-sm " style="height: 40px;"> <span class="input-group-btn">
                                 
                          </div>
                      </div>
                      <div class="col-md-1">
                          <label>站点名称:</label>
                      </div>
                      <div class="col-md-2">
                          <div class="input-group">
                              <input type="text" placeholder="{{ station.station_name }}" class="input-sm " style="height: 40px;"> <span class="input-group-btn">
                                 
                          </div>
                      </div>
                      <div class="col-md-3"></div>
                      <div class="col-md-1">
                          <button type="button" id="loading-example-btn" class="btn  btn-sm btn_tempo pull-right"> 两月内</button>
                      </div>
                      <div class="col-md-1">
                          <button type="button" id="loading-example-btn" class="btn  btn-sm btn_tempo pull-right"> 三月内</button>
                      </div>
                      
                      <div class="col-md-1" >
                          <button type="button" id="loading-example-btn" class="btn  btn-sm btn_tempo pull-right"> 查询</button>
                      </div>
                  </div>
                  
              </div>
          </div>

          
      
          <div class="ibox float-e-margins">
              <div class="ibox-title modal_head collapse-link">
                  <h5>图形分析 </h5>
                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-angle-down"></i>
                      </a>
                      
                  </div>
              </div>
              <div class="ibox-content">
                  <div id="chart_station" style="width: 100%;height:555px;" ></div>
                  <div class="row stastic_info">
                    <div class="col-md-3">当天用水量: 186 m³ </div>
                    <div class="col-md-3">昨日用水量: 206.3 </div>
                    <div class="col-md-3">去年同期用水量：206 m³  </div>
                    <div class="col-md-3">同比增量：21 m³</div>
                    <div class="col-md-3">环比增量：60 m³</div>
                    <div class="col-md-3">最大值: 68 m³   （11：00）</div>
                    <div class="col-md-3">最小值: 21 m³   （04：00）</div>
                    <div class="col-md-3">平均值: 46 m³   （11：00）</div>
                  </div>
              </div>
          </div>
      </div> 
  </div>
  {% endblock %}



{% block javascript %}
{{ block.super }}
    

<script>
        
  $(function(){
    load_Tree('mnf');
  });

  

  // 基于准备好的dom，初始化echarts实例
  var myChart = echarts.init(document.getElementById('chart_station'));

  // 使用刚指定的配置项和数据显示图表。
  var opts = {{ options|safe }};
  option = eval(opts);
  // console.log(option);
  myChart.setOption(option);

  

  window.onresize = function () {
      myChart.resize();      
  };

        
</script>

{% endblock %}