{% extends '_base2.html' %}

{% load staticfiles %}

{% block stylesheet %}
{{ block.super }}

<style type="text/css">
.u4400 {
  border-width:0px;
  position:absolute;
  left:0px;
  /*top:0px;*/
  width:61px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.u4402 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:0px;
  width:139px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.u4404 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:123px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
.u4406 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:0px;
  width:62px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
.u4408 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:0px;
  width:82px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.u4410 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:0px;
  width:90px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
.u4412 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:0px;
  width:64px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.u4414 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:0px;
  width:149px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.u4416 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:0px;
  width:63px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.u4418 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:0px;
  width:69px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.u4420 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:0px;
  width:103px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.u4422 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:0px;
  width:144px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.u4424 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:0px;
  width:144px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.u4426 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:0px;
  width:82px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.u4428 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:0px;
  width:61px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.u4430 {
  border-width:0px;
  position:absolute;
  left:1436px;
  top:0px;
  width:61px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.u4432 {
  border-width:0px;
  position:absolute;
  left:1497px;
  top:0px;
  width:62px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}

.u4399 {
  border-width:0px;
  /*position:absolute;
  left:326px;
  top:164px;*/
  margin-left: 20px;

  width:1564px;
  height:831px;
}

.row11 {
            border: 1px dashed black;
            margin-top: 30px;
            height: 44px;
        }

</style>
{% endblock %}

{% block main_content %}
  <div class="curve_content">
    <div  class="curve_head">
        <div style="padding-top: 10px;margin-left: 10px;"><span >实时数据列表</span><span class="fa fa-angle-down pull-right" style="margin-top: 5px;margin-right: 15px;"></span></div>
      </div>

      <div class="u4399">
        <div class="row11">

            <div class="u4400">序号</div>
            <div class="u4402" >站点名称</div >
            <div class="u4404" >所属组织</div>
            <div class="u4406" >表具编号</div>
            <div class="u4408" >报警</div>
            <div class="u4410" >状态</div>
            <div class="u4412" >口径</div>
            <div class="u4414" >最新采样时间</div>
            <div class="u4416" >采样间隔min</div>
            <div class="u4418" >上报间隔h</div>
            <div class="u4420" >瞬时流量m³/h</div>
            
            <div class="u4422" >正向流量m³</div>
            <div class="u4424" >反向流量m³</div>
            <div class="u4426" >压力Mpa</div>
            <div class="u4428" >基表电量%</div>
            <div class="u4430" >远传电量%</div>
            <div class="u4432" >信号强度%</div>
        </div>
      </div>

      
      
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
          <div class="modal-dialog" role="document" >
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">报警信息</h4>
              </div>
              <div class="modal-body">
                
              </div>
              
            </div>
          </div>
        </div>

  </div>
  
{% endblock %}


{% block javascript %}
 {{ block.super }}
    <SCRIPT LANGUAGE="JavaScript">

    $(function(){
        load_Tree('rt_data');
    });
      
    </SCRIPT>
{% endblock %}      