<!-- logo -->
<div class=" logo"><p><span>VIRVO</span></p></div>

<!-- header -->
<div class="box header">
  <div class="box center">
    <img   src="/static/virvo/images/表具管理/u2.png">
  </div>
  
  <div class="box center" >
    <label class="brand_input"> | 智慧水务一体化平台</label>
  </div>
  
  
  
  <div class="box user center">
    <!-- <p><span>viro_user_info</span></p> -->
    {% if request.user.is_authenticated %}
      <div id="navitem_div" class="ax_default _一级标题" style="cursor: pointer;">
          
            <div class="col-md-2" style="top: 20px;">
              
              <span class="fa fa-user"></span>
              
            </div>
            <div class="col-md-8" style="top: 20px;">
              
              <p><span>{{ request.user.user_name }}</span></p>
              
            </div>
            <div class=" dropdown col-md-2" style="top: 20px;">
              
              <span class="fa fa-angle-down"></span>

              <!-- dropdown menu -->
              <ul class="dropdown-menu">
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                  
              </ul>
              
            </div>
        </div>

       
      {% else %}
       <li class="nav-item {% if request.path == register_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      <li class="nav-item {% if request.path == login_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
  </div>
  
  <div class=" box date_1">
      <div id="d_week" class="w"> 星期一 </div>
      <div id="d_day" class="d"> 15</div>
      <div id="d_month" class="m"></div>
    
  
  </div>
  <div class="box time_1">
    <div id="d_ap">上午</div>
    <div id="d_time">11:04</div>
  </div>
</div>


<script type="text/javascript">

  var tday=new Array("星期日","星期一","星期二","星期三","星期四","星期五","星期六");
  var tmonth=new Array("1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月");
  function GetClock(){
    var d=new Date();
    // var nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
    // var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds();
    var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate();
    var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds();
    var ap;
    if(nhour==0){ap=" 上午";nhour=12;}
    else if(nhour<12){ap="上午";}
    else if(nhour==12){ap="下午";}
    else if(nhour>12){ap="下午";nhour-=12;}
    if(nmin<=9) nmin="0"+nmin;
    
    document.getElementById('d_week').innerHTML=tday[nday];
    document.getElementById('d_day').innerHTML=ndate;
    document.getElementById('d_month').innerHTML="<small>"+tmonth[nmonth]+"</small>";
    document.getElementById('d_ap').innerHTML=ap;
    document.getElementById('d_time').innerHTML=nhour+":"+nmin;//+":"+nsec;

    // document.getElementById('clockbox').innerHTML=""+(nmonth+1)+"-"+ndate+"-"+nyear+" "+nhour+":"+nmin+":"+nsec+"";
    // document.getElementById('clockbox').innerHTML=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+" "+nhour+":"+nmin+"";
  }

  window.onload=function(){
    GetClock();
    setInterval(GetClock,1000);
  }
</script>

