<!-- logo -->
<div class=" logo"><p><span>VIRVO</span></p></div>

<!-- header -->
<div class="box header">
  <div class="box center">
    <img   src="/static/virvo/images/表具管理/u2.png">
  </div>
  
  <div class="box center" >
    <label class="brand_input"> | 智慧水务一体化平台</label>
  </div>
  
  
  
  <div class="box user center">
    <p><span>viro_user_info</span></p>
  </div>
  <div class=" box date_1">
      <div class="w"> 星期一 </div>
      <div class="d"> 15</div>
      <div class="m"> 11月 </div>
    
  
  </div>
  <div class="box time_1">
    <div>上午</div>
    <div>11:04</div>
  </div>
</div>