<!-- logo -->
<div class=" logo"><p><span>VIRVO</span></p></div>

<!-- header -->
<div class="box header">
  <div class="box center">
    <img   src="/static/virvo/images/表具管理/u2.png">
  </div>
  
  <div class="box center" >
    <label class="brand_input"> | 智慧水务一体化平台</label>
  </div>
  
  
  
  <div class="box user center">
    <!-- <p><span>viro_user_info</span></p> -->
    {% if request.user.is_authenticated %}
      <div id="navitem_div" class="ax_default _一级标题" style="cursor: pointer;">
          
            <div class="col-md-2" style="top: 20px;">
              
              <span class="fa fa-eye"></span>
              
            </div>
            <div class="col-md-8" style="top: 20px;">
              
              <p><span>{{ request.user.username }}</span></p>
              
            </div>
            <div class=" dropdown col-md-2" style="top: 20px;">
              
              <span class="fa fa-angle-down"></span>

              <!-- dropdown menu -->
              <ul class="dropdown-menu">
                  <li><a href="{% url 'dma:map_monitor' dma_id=1 %}">Logout</a></li>
                  
              </ul>
              
            </div>
        </div>

       
      {% else %}
       <li class="nav-item {% if request.path == register_url %}active{% endif %}">
        <a class="nav-link" href="{{ register_url }}">Register</a>
      </li>
      <li class="nav-item {% if request.path == login_url %}active{% endif %}">
        <a class="nav-link" href="{{ login_url }}">Login</a>
      </li>
      {% endif %}
  </div>
  <div class=" box date_1">
      <div class="w"> 星期一 </div>
      <div class="d"> 15</div>
      <div class="m"> 11月 </div>
    
  
  </div>
  <div class="box time_1">
    <div>上午</div>
    <div>11:04</div>
  </div>
</div>