{% load staticfiles %}



<!-- 组织列表面板 (动态面板) -->

<div class="ibox float-e-margins">
    <div class="ibox-title modal_head collapse-link">
        <h5>DMA分区 </h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-angle-down"></i>
            </a>
            
        </div>
    </div>
    <div class="ibox-content">
        
        <div id='external-events'>
            <!-- Unnamed (文本框) -->
        <div  >
          <input style="height: 32px;" type="text" value="请输入组织名称"/>
        </div>

        <!-- Unnamed (树状菜单) -->
          <div  style="margin-top: 10px;">
            <ul id="dma_tree" class="ztree"></ul>
          </div>
        </div>
    </div>
   
</div>




              


