  {% load staticfiles %}<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} {{ title }} {% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    
    <script src="{%  static 'gis/assets/js/jquery.js' %} "></script>
    <script src="{%  static 'gis/assets/js/jquery-ui.js' %} "></script>
    
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- virvo provider -->
    <link href="{% static 'virvo/data/styles.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'virvo/state_content.css' %}" type="text/css" rel="stylesheet"/>

    <link href="{% static 'virvo/grid.css' %}" type="text/css" rel="stylesheet"/>
    
    <!-- hplus -->
    <link rel="stylesheet" type="text/css" href="{% static 'hplus/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hplus/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hplus/css/plugins/sweetalert/sweetalert.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hplus/css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hplus/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hplus/smartMenu.css' %}">
    
   <!--  <script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->


    
    <!-- hplus -->
    <script src="{% static 'hplus/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'hplus/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'hplus/js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'hplus/js/plugins/layer/layer.min.js' %}"></script>
    <script src="{% static 'hplus/js/hplus.js' %}"></script>
    <script src="{% static 'hplus/contabs.js' %}"></script>

    <script src="{% static 'hplus/jquery-smartMenu.js' %}"></script>
    <script src="{% static 'hplus/hplus-tab.js' %}"></script>
    <script src="{% static 'hplus/context.js' %}"></script>
    <script src="{% static 'hplus/hplus-tab.js' %}"></script>
    <script src="{% static 'hplus/js/plugins/pace/pace.min.js' %}"></script>

    


    
</head>
<body class="fixed-sidebar full-height-layout gray-bg fixed-nav  pace-done" style="overflow:hidden">
    
    <div class="row border-bottom">
        {% include '_header.html' %}
    </div>
    <div id="wrapper">
    
    <!--左侧导航开始-->
    {% include '_nav.html' %}
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="white-bg dashbard-1">
        

        <!-- <div class="row content-tabs">
            <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab" data-id="home.html">首页</a>
                </div>
            </nav>
            <button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span>

                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                    <li class="J_tabShowActive">
                        <a>定位当前选项卡</a>
                    </li>
                    <li class="divider"></li>
                    <li class="J_tabCloseAll">
                        <a>关闭全部选项卡</a>
                    </li>
                    <li class="J_tabCloseOther">
                        <a>关闭其他选项卡</a>
                    </li>
                </ul>
            </div>
            <a href="login.html" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div> -->
        <div class="row J_mainContent" id="content-main" style="height: calc(100% - 40px);">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="{% url 'dma:virvo_home' %}" frameborder="0" data-id="home.html" seamless></iframe>
        </div>
        <div class="footer">
            {% include 'footer.html' %}
        </div>
    </div>
    <!--右侧部分结束-->
    <!--右侧边栏开始-->
    
    <!--右侧边栏结束-->
    
    
</div>

</body>
</html>