<aside class="sidebar">
    <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
            <li class="sub-menu">
                <a href="#" class=""> 
                    <i class="fa fa-home"></i><span>首页</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="javascript:void(0);">
                    <i class="fa fa-pencil-square-o"></i><span>信息配置</span>
                    <i class="arrow fa fa-angle-right pull-right"></i>
                </a>
                <ul class="second-menu-ul" style="">
                    <li class="second-menu">
                        <a href="/clbs/m/infoconfig/infoinput/list">
                            <i class="fa fa-location-arrow"></i><span>信息列表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="sub-menu active">
                <a href="javascript:void(0);" class="activeLine">
                    <i class="fa fa-user"></i><span>企业管理</span>
                    <i class="arrow fa pull-right fa-angle-right"></i>
                </a>
                <ul class="second-menu-ul" style="overflow: hidden; height: 184px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                    <li class="second-menu">
                        <a href="/clbs/c/user/list" class="open">
                            <i class="fa fa-location-arrow"></i><span>组织与用户管理</span> 
                            <i></i> 
                        </a>
                        <ul style="overflow: hidden; height: 0px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/basicinfo/enterprise/assignment/list">
                            <i class="fa fa-location-arrow"></i><span>分组管理</span> 
                            <i></i> 
                        </a>
                        <ul style="display: none;">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/c/role/list">
                            <i class="fa fa-location-arrow"></i><span>角色管理</span> 
                            <i></i> 
                        </a>
                        <ul style="display: none;">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/basicinfo/enterprise/professionals/list">
                            <i class="fa fa-location-arrow"></i><span>从业人员管理</span> 
                            <i></i> 
                        </a>
                        <ul style="display: none;">
                            
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:void(0);">
                    <i class="fa fa-desktop"></i><span>监控对象</span>
                    <i class="arrow fa fa-angle-right pull-right"></i>
                </a>
                <ul class="second-menu-ul" style="">
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>车辆信息</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/m/basicinfo/monitoring/vehicle/list">
                                    <i class="fa  fa-pencil"></i><span>车辆管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/m/basicinfo/monitoring/vehicle/type/list">
                                    <i class="fa  fa-pencil"></i><span>车型管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/v/carbonmgt/basicManagement/fuelPrice">
                                    <i class="fa  fa-pencil"></i><span>燃料管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/basicinfo/monitoring/personnel/list">
                            <i class="fa fa-location-arrow"></i><span>人员信息</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/basicinfo/monitoring/ThingInfo/list">
                            <i class="fa fa-location-arrow"></i><span>物品信息</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:void(0);">
                    <i class=" fa fa-dashboard"></i><span>设备管理</span>
                    <i class="arrow fa fa-angle-right pull-right"></i>
                </a>
                <ul class="second-menu-ul" style="">
                    <li class="second-menu">
                        <a href="/clbs/m/basicinfo/equipment/device/list">
                            <i class="fa fa-location-arrow"></i><span>终端管理</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/basicinfo/equipment/simcard/list">
                            <i class="fa fa-location-arrow"></i><span>SIM卡管理</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:void(0);">
                    <i class="fa fa-video-camera"></i><span>监控管理</span>
                    <i class="arrow fa fa-angle-right pull-right"></i>
                </a>
                <ul class="second-menu-ul" style="">
                    <li class="second-menu">
                        <a href="/clbs/v/monitoring/realTimeMonitoring">
                            <i class="fa fa-location-arrow"></i><span>实时监控</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/v/monitoring/trackPlayback">
                            <i class="fa fa-location-arrow"></i><span>轨迹回放</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/v/monitoring/command/list">
                            <i class="fa fa-location-arrow"></i><span>实时指令</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/realTimeVideo/video/list">
                            <i class="fa fa-location-arrow"></i><span>实时视频</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/realTimeVideo/resource/list">
                            <i class="fa fa-location-arrow"></i><span>视频回放</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/realTimeVideo/videoSetting/list">
                            <i class="fa fa-location-arrow"></i><span>视频参数设置</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:void(0);">
                    <i class="fa fa-warning"></i><span>报警中心</span>
                    <i class="arrow fa fa-angle-right pull-right"></i>
                </a>
                <ul class="second-menu-ul" style="">
                    <li class="second-menu">
                        <a href="/clbs/a/alarmSetting/list">
                            <i class="fa fa-location-arrow"></i><span>报警参数设置</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/a/search/list">
                            <i class="fa fa-location-arrow"></i><span>报警查询</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:void(0);">
                    <i class="fa fa-wrench"></i><span>应用管理</span>
                    <i class="arrow fa fa-angle-right pull-right"></i>
                </a>
                <ul class="second-menu-ul" style="">
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>传感器配置</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/v/sensorConfig/vehiclePeripheral/list">
                                    <i class="fa  fa-pencil"></i><span>外设管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/v/sensorConfig/vehiclePoll/list">
                                    <i class="fa  fa-pencil"></i><span>外设轮询</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>油量管理</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/m/basicinfo/equipment/rodsensor/list">
                                    <i class="fa  fa-pencil"></i><span>油位传感器管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/v/oilmassmgt/fueltankmgt/list">
                                    <i class="fa  fa-pencil"></i><span>油箱管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/v/oilmassmgt/oilvehiclesetting/list">
                                    <i class="fa  fa-pencil"></i><span>油量车辆设置</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/v/oilmassmgt/oilcalibration/list">
                                    <i class="fa  fa-pencil"></i><span>油量标定</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>油耗管理</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/v/oilmgt/fluxsensormgt/list">
                                    <i class="fa  fa-pencil"></i><span>流量传感器管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/v/oilmgt/fluxsensorbind/list">
                                    <i class="fa  fa-pencil"></i><span>油耗车辆设置</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>里程监测</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/v/meleMonitor/wheelSpeedSensor/list">
                                    <i class="fa  fa-pencil"></i><span>轮速传感器管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/v/meleMonitor/tyreSpecification/list">
                                    <i class="fa  fa-pencil"></i><span>轮胎规格管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/v/meleMonitor/mileMonitorSet/list">
                                    <i class="fa  fa-pencil"></i><span>里程监测设置</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/v/meleMonitor/mileageDemarcate/list">
                                    <i class="fa  fa-pencil"></i><span>里程标定</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>工时管理</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/v/workhourmgt/vb/list">
                                    <i class="fa  fa-pencil"></i><span>振动传感器管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/v/workhourmgt/vbbind/list">
                                    <i class="fa  fa-pencil"></i><span>工时车辆设置</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>开关信号监测</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/m/switching/type/list">
                                    <i class="fa  fa-pencil"></i><span>检测功能类型</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/m/switching/signal/list">
                                    <i class="fa  fa-pencil"></i><span>开关信号管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>温度监测</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/v/temperatureDetection/temperatureSensor/list">
                                    <i class="fa  fa-pencil"></i><span>温度传感器管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/v/temperatureDetection/temperatureDetectionSetting/list">
                                    <i class="fa  fa-pencil"></i><span>温度监测设置</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>湿度监测</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/v/humidity/management/list">
                                    <i class="fa  fa-pencil"></i><span>湿度传感器管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/v/humidity/settings/list">
                                    <i class="fa  fa-pencil"></i><span>湿度监测设置</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>正反转管理</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/v/veerManagement/veerSensor/list">
                                    <i class="fa  fa-pencil"></i><span>正反转传感器管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/v/veerManagement/veerVehicleSet/list">
                                    <i class="fa  fa-pencil"></i><span>正反转车辆设置</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:void(0);">
                    <i class="fa fa-camera-retro"></i><span>能源管理</span>
                    <i class="arrow fa fa-angle-right pull-right"></i>
                </a>
                <ul class="second-menu-ul" style="">
                    <li class="second-menu">
                        <a href="/clbs/m/energy/mobileSourceBaseInfo/list">
                            <i class="fa fa-location-arrow"></i><span>移动源基础管理</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>移动源基准管理</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/m/energy/travelEnergy/list">
                                    <i class="fa  fa-pencil"></i><span>行驶能耗基准管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/m/energy/idLingStandardEnergy/list">
                                    <i class="fa  fa-pencil"></i><span>怠速能耗基准管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>移动源能耗报表</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/m/energy/energyContrast/list">
                                    <i class="fa  fa-pencil"></i><span>能耗对比报表</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:void(0);">
                    <i class="fa fa-th-list"></i><span>系统管理</span>
                    <i class="arrow fa fa-angle-right pull-right"></i>
                </a>
                <ul class="second-menu-ul" style="">
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>808平台转发配置</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/m/forwardplatform/ipmgt/list">
                                    <i class="fa  fa-pencil"></i><span>转发平台IP管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/access/platform/list">
                                    <i class="fa  fa-pencil"></i><span>接入平台IP管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/m/forwardplatform/mf/list">
                                    <i class="fa  fa-pencil"></i><span>监控对象转发管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>809平台转发配置</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/m/connectionparamsset/list">
                                    <i class="fa  fa-pencil"></i><span>转发平台连接</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/m/connectionparamsConfig/list">
                                    <i class="fa  fa-pencil"></i><span>监控对象转发管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>对讲平台配置</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/m/intercomplatform/addrconfig/list">
                                    <i class="fa  fa-pencil"></i><span>对讲地址配置</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/m/intercomplatform/deviceconfig/list">
                                    <i class="fa  fa-pencil"></i><span>对讲设备配置</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="javascript:void(0);">
                            <i class="fa fa-location-arrow"></i><span>平台个性化配置</span> 
                            <i class="arrow fa fa-angle-right pull-right"></i> 
                        </a>
                        <ul style="">
                            <li>
                                <a href="/clbs/m/intercomplatform/personalized/list">
                                    <i class="fa  fa-pencil"></i><span>平台信息设置</span>
                                </a>
                            </li>
                            <li>
                                <a href="/clbs/m/personalized/ico/list">
                                    <i class="fa  fa-pencil"></i><span>监控对象图标</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/reportManagement/logSearch/list">
                            <i class="fa fa-location-arrow"></i><span>日志查询</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:void(0);">
                    <i class="fa fa-bar-chart-o"></i><span>报表管理</span>
                    <i class="arrow fa fa-angle-right pull-right"></i>
                </a>
                <ul class="second-menu-ul" style="">
                    <li class="second-menu">
                        <a href="/clbs/m/reportManagement/bigDataReport/list">
                            <i class="fa fa-location-arrow"></i><span>大数据报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/reportManagement/mileageReport/list">
                            <i class="fa fa-location-arrow"></i><span>行驶里程报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/reportManagement/parkingReport/list">
                            <i class="fa fa-location-arrow"></i><span>停驶报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/reportManagement/onlineReport/list">
                            <i class="fa fa-location-arrow"></i><span>上线率报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/reportManagement/alarmReport/list">
                            <i class="fa fa-location-arrow"></i><span>报警信息报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/reportManagement/speedReport/list">
                            <i class="fa fa-location-arrow"></i><span>超速报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/reportManagement/speedAlarmReport/list">
                            <i class="fa fa-location-arrow"></i><span>超速报警报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/v/workhourmgt/vbStatistic/list">
                            <i class="fa fa-location-arrow"></i><span>工时报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/v/oilmassmgt/oilquantitystatistics/list">
                            <i class="fa fa-location-arrow"></i><span>油量报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/v/oilmgt/list">
                            <i class="fa fa-location-arrow"></i><span>油耗报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/v/meleMonitor/mileStatistics/list">
                            <i class="fa fa-location-arrow"></i><span>里程报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/v/temperatureDetection/temperatureStatistics/list">
                            <i class="fa fa-location-arrow"></i><span>温度报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/v/humidity/statistical/list">
                            <i class="fa fa-location-arrow"></i><span>湿度报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/v/veerManagement/veerStatistics/list">
                            <i class="fa fa-location-arrow"></i><span>正反转报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/reportManagement/media/list">
                            <i class="fa fa-location-arrow"></i><span>多媒体管理</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/reportManagement/logSearch/videoLog">
                            <i class="fa fa-location-arrow"></i><span>音视频日志查询</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/reportManagement/flowReport/list">
                            <i class="fa fa-location-arrow"></i><span>音视频流量报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/sx/sxReportManagement/offLineReport/list">
                            <i class="fa fa-location-arrow"></i><span>离线查询报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/m/reportManagement/passengerFlowReport/list">
                            <i class="fa fa-location-arrow"></i><span>客流量报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="javascript:void(0);">
                    <i class="fa fa-bar-chart-o"></i><span>山西报表</span>
                    <i class="arrow fa fa-angle-right pull-right"></i>
                </a>
                <ul class="second-menu-ul" style="">
                    <li class="second-menu">
                        <a href="/clbs/sx/sxReportManagement/tiredAlarmReport/list">
                            <i class="fa fa-location-arrow"></i><span>疲劳驾驶报警明细</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/sx/sxReportManagement/tiredViolationReport/list">
                            <i class="fa fa-location-arrow"></i><span>疲劳驾驶违章统计</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/sx/sxReportManagement/sxSpeedAlarmReport/list">
                            <i class="fa fa-location-arrow"></i><span>超速报警明细</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/sx/sxReportManagement/sxSpeedViolationReport/list">
                            <i class="fa fa-location-arrow"></i><span>超速违章统计</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/sx/sxReportManagement/locationQualifiedRateReport/list">
                            <i class="fa fa-location-arrow"></i><span>定位数据合格率</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/sx/sxReportManagement/shiftDataReport/list">
                            <i class="fa fa-location-arrow"></i><span>漂移数据报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/sx/sxReportManagement/beforeDawnReport/list">
                            <i class="fa fa-location-arrow"></i><span>凌晨2-5点运行报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                    <li class="second-menu">
                        <a href="/clbs/sx/sxReportManagement/abnormalTrajectoryReport/list">
                            <i class="fa fa-location-arrow"></i><span>异常轨迹报表</span> 
                            <i></i> 
                        </a>
                        <ul style="">
                            
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</aside>