{% load staticfiles %}



<!-- 组织列表面板 (动态面板) -->
<div class="tree_hd">
  <div class="col-md-10 " ><span class="center">站点信息</span></div>
  <div class="col-md-2">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0" class="list-group-item active ">
          <span class="fa fa-angle-down" title="Toggle dropdown menu"></span>
    </a>
  </div>
</div>

<div id="collapse0" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tree_heading" >
    <div>

    <!-- Unnamed (文本框) -->
    <div class="ax_default _输入框 center" style="margin-top: 20px;margin-left: 20px;">
      <input id="u837_input" type="text" value="请输入组织名称"/>
    </div>

    <!-- Unnamed (树状菜单) -->
      <div class="ax_default _组织架构 treeroot" style="cursor: default;">
        <ul id="station_tree" class="ztree"></ul>
      </div>
    </div>
</div>





              


