{% load staticfiles %}



<!-- 组织列表面板 (动态面板) -->

<div style="margin-left: 15px;margin-right: 15px;background-color: rgba(255, 255, 255, 1);font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';font-weight: 700;font-style: normal;font-size: 14px;">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0" class=" list-group-item  modal_nav_header " >
          站点信息<span class="fa fa-angle-down pull-right"></span>
        </a>
      </div>

<div id="collapse0" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tree_heading" >
    <div>

    <!-- Unnamed (文本框) -->
    <div class="ax_default _输入框 center" style="margin-top: 20px;margin-left: 20px;">
      <input style="width: 246px;height: 32px;" type="text" value="请输入组织名称"/>
    </div>

    <!-- Unnamed (树状菜单) -->
      <div class="ax_default _组织架构 treeroot" style="cursor: default;margin-left: 20px;">
        <ul id="station_tree" class="ztree"></ul>
      </div>
    </div>
</div>





              


